.card-body-custom{
    width: 8vw !important;
    background-color:transparent;
    border: none !important;
    color: rgb(221, 221, 221) !important;
    
}

#restrictMe{
    max-width: 40.4vw;
}

.margins{
    margin-top: -10px;
}